@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.display-hidden {
  @apply hidden;
}
@layer base {
  html {
    scroll-behavior: smooth !important;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 1ms ease-in-out !important;
 }
}
body {
  height: 100vh;
  overflow: scroll;
  width: 100vw;
  line-height: 1.6;
  font-size: 0.9rem;
}

body *,
.next-link {
  @apply transition-all duration-1000 !important;
}
.shadow {
  box-shadow: white 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.navbar {
  background: transparent;
  width: 100vw !important;
  transition: .1s ease-in-out;
}
.active {
  backdrop-filter: blur(15px);
  position: fixed !important;
  width: 100vw !important;
  transition: .1s ease-in-out;
}
.belowline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px !important;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}
.belowline:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}
.belowline-1::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}
.hero {
  /*background-image: url('/');
  background-image: url('https://images.unsplash.com/photo-1482977036925-e8fcaa643657?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;*/
  height: 100vh;
  width: 100vw;
  transition: 1000ms ease-in-out !important;
}
.hero-img {
  height: 100% !important;
}
.about-div {
  max-height: 100vh;
}
.icon-div,
.icon {
  transition: transform 400ms ease-in-out !important;
}
.icon {
  transition: 300ms ease-in-out !important;
}
.icon-div:hover {
  transform: translateY(-10px);
  transition: transform 350ms ease-in-out !important;
  border: 1px solid #000;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.icon-div:hover :first-child {
  background-color: rgb(34 197 94);
  color: #000;
  border-radius: 5px;
  transition: 300ms ease-in-out;
}
.gradient-text {
  font-weight: bold;
  letter-spacing: 1px;
  background: linear-gradient(135deg, rgb(240, 240, 240), rgb(63, 63, 63), rgb(237, 237, 237), rgb(57, 57, 57)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 8s ease-in-out infinite;
  background-size: 200% 200%;
}
.img-div:hover img {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 150s ease-in-out;
}
.img-div img {
  width: 360px;
  height: 360px;
  transition: transform 200ms ease-in-out !important;
}
.social-link,
.social-link-2,
.social-link-3 {
  transition: transform 400ms ease-in-out !important;
}
.social-link:hover {
  transform: translateX(10px);
  transition: transform 300ms ease-in-out !important;
}
.social-link-2:hover {
  transform: translateY(-10px);
  transition: transform 300ms ease-in-out !important;
}
.social-link-3:hover {
  transform: scale(1.04) translateY(-10px) !important;
  transition: transform 300ms ease-in-out !important;
}

.skills {
  background: url('/skill-bg.gif');
  background-size: contain;
  background-position: center;
  height: 85vh;
  width: 100vw;
}

.Card {
  width: 250px;
  height: 350px;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.Card-more {
  width: 10px;
  height: 10px;
  border-radius: 20%;
  transition: .2 ease-in-out;
}

.button-content {
  position: relative;
  background-color: #e2e8f0;
  padding: 30px 50px;
  overflow: hidden;
  transition: .2 ease-in-out;
}


.button-content div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin: auto;
  filter: blur(15px);
}

.button-text {
  position: relative;
  z-index: 10;
  color: #475569;
  transition: .7 ease-in-out;
  font-size: 1.3rem;
}

.button-shape-1 {
  background-color: #EFF5F5;
  transform: translate(-48px, -26px);
  animation: shape-1 6s 1s ease-out infinite; 
  transition: .5s ease-in-out;
}

.button-shape-2 {
  background-color: #497174;
  transform: translate(-12px, 26px);
  animation: shape-2 6s ease-in infinite;
  transition: .5s ease-in-out;
}

.button-shape-3 {
  background-color: #EB6440;
  transform: translate(20px, -26px);
  animation: shape-3 6s ease-out infinite;
  transition: .5s ease-in-out;
}

.button-shape-4 {
  background-color: #D6E4E5;
  transform: translate(48px, 26px);
  animation: shape-4 6s 1s ease-in infinite;
  transition: .5s ease-in-out;
}

.Card-more:hover .button-text {
  color: #f1f5f9;
}

.Card-more:hover .button-shape-1 {
  background-color: #ECF2FF;
}

.Card-more:hover .button-shape-2 {
  background-color: #3E54AC;
}

.Card-more:hover .button-shape-3 {
  background-color: #655DBB;
}

.Card-more:hover .button-shape-4 {
  background-color: #BFACE2;
}



.gradient-02 {
  position: absolute;
  width: 400px;
  height: 438px;
  top: 40%;
  right: 20%;

  background: #6252a9;
  filter: blur(190px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
  position: absolute;
  width: 304px;
  height: 400px;
  left: 20%;
  top: 5%;

  background: rgb(136, 115, 188);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(48, 96, 241, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.feedback-gradient {
  position: absolute;
  width: 250px;
  height: 316px;
  left: 20%;
  top: 0;

  background: #334d99;
  filter: blur(175px);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  right: 0;
  bottom: 0;

  background: #03a3ff;
  filter: blur(150px);
}
.glass-1 {
  background:linear-gradient(135deg,rgba(255,255,255,0.5),rgba(255,255,255,0.3))
}
.glass{
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: all 1000ms ease-in-out;
}
.tilting-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: var(--shadow);
}

.mouse-position-tracker {
  position: absolute;
  width: calc(100% / 3);
  height: calc(100% / 3);
  z-index: 2;
}

/* 1st, 4th, 7th */
.mouse-position-tracker:nth-child(3n - 2) {
  left: 0;
}
/* 2nd, 5th, 8th */
.mouse-position-tracker:nth-child(3n - 1) {
  left: calc(100% / 3);
}

/* 2nd, 5th, 8th */
.mouse-position-tracker:nth-child(3n) {
  right: 0;
}

/* 4 to 6 */
.mouse-position-tracker:nth-child(n + 4):nth-child(-n + 6) {
  top: calc(100% / 3);
}
/* 7 to 9 */
.mouse-position-tracker:nth-child(n + 7):nth-child(-n + 9) {
  bottom: 0;
}

.tilting-card-wrapper {
  position: relative;
}

.tilting-card-body {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

.tilting-card-body > :where(h4, span) {
  padding: 0.2rem;
  margin: 0;
}

.tilting-card-body {
  --perspective: 500px;
  --rotationX: 0;
  --rotationY: 0;
  --rotationZ: 0;
  --angle: 15deg;
  transform: perspective(var(--perspective)) rotateX(var(--rotationX))
    rotateY(var(--rotationY)) rotateZ(var(--rotationZ));
  transition: transform 500ms ease;
}

.mouse-position-tracker:nth-child(1):hover ~ .tilting-card-body {
  --rotationX: var(--angle);
  --rotationY: calc(var(--angle) * -1);
}

.mouse-position-tracker:nth-child(2):hover ~ .tilting-card-body {
  --rotationX: var(--angle);
}

.mouse-position-tracker:nth-child(3):hover ~ .tilting-card-body {
  --rotationX: var(--angle);
  --rotationY: var(--angle);
}

.mouse-position-tracker:nth-child(4):hover ~ .tilting-card-body {
  --rotationY: calc(var(--angle) * -1);
}

.mouse-position-tracker:nth-child(6):hover ~ .tilting-card-body {
  --rotationY: var(--angle);
}

.mouse-position-tracker:nth-child(7):hover ~ .tilting-card-body {
  --rotationY: calc(var(--angle) * -1);
  --rotationX: calc(var(--angle) * -1);
}

.mouse-position-tracker:nth-child(8):hover ~ .tilting-card-body {
  --rotationX: calc(var(--angle) * -1);
}

.mouse-position-tracker:nth-child(9):hover ~ .tilting-card-body {
  --rotationY: var(--angle);
  --rotationX: calc(var(--angle) * -1);
}

/* general styling */
:root {
  --shadow: 0px 1px 2.2px rgba(0, 0, 0, 0.02),
    0px 2.5px 5.3px rgba(0, 0, 0, 0.028), 0px 4.6px 10px rgba(0, 0, 0, 0.035),
    0px 8.3px 17.9px rgba(0, 0, 0, 0.042), 0px 15.5px 33.4px rgba(0, 0, 0, 0.05),
    0px 37px 80px rgba(0, 0, 0, 0.07);
}




@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
  
}

@keyframes shape-1 {
  33% {
    transform: translate(-28px, 0);
  }
}

@keyframes shape-2 {
  33% {
    transform: translate(-28px, 28px);
  }
}

@keyframes shape-3 {
  33% {
    transform: translate(20px, 4px);
  }
}

@keyframes shape-4 {
  33% {
    transform: translate(48px, 0);
  }
}



@media (max-width: 767px) {
  .project-cat {
    width: 85vw;
    overflow-x: scroll !important;
    padding: 50px 50px !important;
  }
  .project-cat::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .project-card {
    width: 250px !important;
  }
  .gradient-01 {
    background: linear-gradient(
      350deg,
      hsl(0, 76%, 51%) 0%,
      hsl(282deg,60%,71%) 26%,
      hsl(257deg 70% 86%) 39%,
      hsl(202deg 92% 90%) 50%,
      hsl(215deg 77% 81%) 61%,
      hsl(221deg 73% 70%) 74%,
      hsl(220deg 76% 51%) 100%
    );
   
    filter: blur(125px);
  }
}

@media (min-width: 768px) {
  .gradient-011 {
    background: linear-gradient(
      270deg,
      hsl(0, 76%, 51%) 0%,
      hsl(282, 60%, 71%) 26%,
      hsl(257deg 70% 86%) 39%,
      hsl(202deg 92% 90%) 50%,
      hsl(215deg 77% 81%) 61%,
      hsl(221deg 73% 70%) 74%,
      hsl(220deg 76% 51%) 100%
    );
    
    filter: blur(125px);
  }
}